:root{
    --primary-color: #e3e6ea;
    --secondary-color: #6c6c6c;
    --text-color: #333333;
    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-large: 25px;

}

body{
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: var(--font-size-medium);
    font-weight: bold;
}

div{
    background-color: var(--primary-color);
    font-size: var(--font-size-small);
}


/* svg icons */
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?7v5owa');
    src:  url('fonts/icomoon.eot?7v5owa#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?7v5owa') format('truetype'),
      url('fonts/icomoon.woff?7v5owa') format('woff'),
      url('fonts/icomoon.svg?7v5owa#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-instagram-svgrepo:before {
    content: "\e900";
    color: black;
    font-size: var(--font-size-large);
  }
  .icon-facebook-svgrepo:before {
    content: "\e901";
    color: blue;
    font-size: var(--font-size-large);
  }
  